<html>
    <body>
        <head>
        <link rel="stylesheet" href="/stylesheets/project.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-4.0.0.js"></script>
<script src="/javascripts/gift_data.js"></script>
    </head>
     <div class = "maincontainer">
    <div class="box  form-card">
    <div class="container p-0">
    <div class="row">
        <div class="col-md-12">
            <div style="display:flex;flex-direction:center;width:100%; justify-content:space-between;padding:5px;align-items:center; background:#d81b60;">
            <div style="display:flex;align-items:center; width:100%";>
        <span><img src="/images/gift.png" style="width : 40px; height : 40px;"></span>
        <span class="textstyle">Gifteria</span>
        </div>
        <div style="background-color: #fff0f5;">
        <span><img src="/images/to-do-list.png" style="width : 40px; height : 40px;"></span>
        </div>
        </div>
        </div> 
    </div>
    </div>

    <table class="table table-dark table-hover">
  <thead>
    <tr>

      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">SubCategory</th>
      <th scope="col">Rate/ Offer</th>
      <th scope="col">Weight</th>
      <th scope="col">Stock</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
   <% data.map((item, index) => { %>
<tr>
    
    <td><%= item.productid %></td>
     <td><%= item.productname %></td>
    <td><%= item.categoryid %></td>
    <td><%= item.subcategoryid %></td>
    <td><s><%= item.productrate %></s><br><span style="color:rgba(32, 167, 204, 0.678);"><%= item.productoffer %></td></span>
    <td><%= item.weight %></td>
    <td><%= item.stock %></td>
    <td><%= item.productpicture %></td>
</tr>
 <% }) %>
  </tbody>
</table>
    </body>
</html>
